body {
    background-color: #3e526f;
    margin: 0;
}

.t1 {
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.t2 {
    display: flex;
    justify-content: center;
    text-align: left;
}

#btn {
    margin-top: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: #3e526f;
    color: black;
    font-size: 1;

}

#btn:hover {
    background-color: green;
}

.t3 {
    display: flex;
    justify-content: center;
}

#ntext {}

#nfield {
    height: 4rem;
    background-color: rgb(167, 214, 255);
    opacity: 50%;
    font-size: 30px;
}